*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    /* flex-direction: column-reverse; */
    /* justify-content: center; */
    justify-content: space-around;
    align-items: stretch; 
    
    
}

.item:first-child{
    background-color: red;
}

.item:last-child{
    background-color: blue;
    /* flex-grow: 1; */
    flex-grow: 0;
}

body div div{
    /* width: 100px; */
    background-color: rgb(19, 180, 100);
    /* flex-basis: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.item1{
    height: 50px;
    background-color: blue;
}

.item2{
    height: 150px;
    background-color: aqua;
}

.item3{
    height: 100px;
    background-color: blueviolet;
    align-self: flex-end;
}

.item4{
    height: 200px;
    background-color: brown;
}

.item10{
    flex-grow: 6;
}

